*{
	margin: 0;
	padding: 0;
	font-family: 'roboto';
	box-sizing: border-box;
}
body{
	height: 100vh;
}
#root{
  width: 100%;
  height: 100vh;
}

/* Formulario */

label{
	margin: 8px 0px;
	display: block;
	color: rgba(0, 0, 0,.56);
  	font-size: 16px;
}
input[type="text"]{
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0,.36);
  	width: 100%;
	padding: 6px 6px 8px 6px;
	font-size: 16px;
	display: block;
  	outline: none;
  	background: none;
  	margin-bottom: 10px;
}
input[type="text"]:focus{
  	border-bottom: 2px solid #1149dc;
}
/* Checkbox y radios */
.radio label, .checkbox label {
  display: inline-block;
  cursor: pointer;
  color: #1149dc;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.radio label:hover, .checkbox label:hover {
  background: rgba(255, 65, 54, 0.1); 
}

.radio label:before, .checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid #1149dc; 
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label:before {
	display: none; 
}
input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #1149dc;
  border-radius: 2px;
	color: #fff; 
}
.checkbox label:before {
	border-radius: 3px; 
}
.checkbox input[type="checkbox"] {
  display: none; 
}
.checkbox input[type="checkbox"]:checked + label:before {
  display: none; 
}
.checkbox input[type="checkbox"]:checked + label {
  background: #1149dc;
  color: #fff;
  padding: 5px 15px; 
}
/* Checkbox 2 */
.checkbox2 label {
  display: inline-block;
  cursor: pointer;
  color: #1149dc;
  position: relative;
  padding: 5px 5px 5px 5px;
  font-size: 1em;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 

	display: flex;
	align-items: center;
}
.cuadro{
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background: none;
  border: 2px solid #1149dc; 
	font-size: 20px;
	margin-right: 4px;
	color: white;
}
.checkbox2 label:hover {
  background: rgba(255, 65, 54, 0.1); 
}
.checkbox2 label:before {
	border-radius: 3px; 
}
.checkbox2 input[type="checkbox"] {
  display: none; 
}
.checkbox2 input[type="checkbox"]:checked + label .cuadro {
  /*background: #1149dc;
  color: #fff;*/
  color: green;
}
/* Botones */
button{
	cursor: pointer;
  border: 0;
}
.btn{
	border: 0;
	font-size: 16px;
	padding: 8px;
	text-align: center;
	border-radius: 2px;
}
.btn-lg{
  border: 0;
	font-size: 16px;
	padding: 8px;
	text-align: center;
	border-radius: 2px;
  width: 100%;
  display: block;
}
.btn-sm{
  border: 0;
	font-size: 16px;
	padding: 8px;
	text-align: center;
	border-radius: 2px;
  margin: auto;
  width: 40%;
}
.btn-center{
  margin: 10px auto;
}
.btn_circle{
	border-radius: 100%;
	border: 0;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding: 10px 0px;
	text-align: center;
}

/* Ventanas Emergentes */
.fixed{
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
  animation: opacity 1s;
  perspective: 800px;
}
.ventana{
  width: 45%;
  background: white;
  margin: 50px auto;
  display: block;
  position: relative;
  border-radius: 4px;
  animation: rotate 1s linear;
}
.ventana .body_alerta::-webkit-scrollbar{
  width: 0px; 
}
.ventana .body_alerta:hover::-webkit-scrollbar{
  width: 4px; 
}
.ventana .body_alerta::-webkit-scrollbar-thumb{
  background: none;
}
.ventana .body_alerta:hover::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .1);
}
.body_alerta{
  padding: 10px 20px;
  color: rgba(0,0,0,.7);
  max-height: 600px;
}
.ventana .body_alerta{
  height: auto;
  max-height: 500px;
  overflow-x: scroll;
}


/* Colores  */
.primary{
	background: #fd7e14;
  color: white;
}

.primary .icon{
  color: #fd7e14;
  background-color: white;
}

/* Flex */
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}
/* Titulos  */

/* Estilos Genericos */
a{
	display: block;
	text-decoration: none;
}
li{
	list-style: none;
}
.icon{
	display: flex;
	align-items: center;
}
.icon .icono{
	margin-right: 10px;
	font-size: 18px;
}
.left{
	float: left;
	height: 90vh;
}
.center-v{
	display: flex;
	align-items: center;
}
.center-h{
	margin: auto;
}
/* Tooltip */
.tooltip{
  position: absolute;
  opacity: 0;
  padding: 4px;
  background: #1149dc;
  color: white;
  font-size: 14px;
  width: 180px;
  transition: all 0.3s;
  border-radius: 4px;
}
.tooltip:after{
  position: absolute;
  content: " ";
  border-left: 10px solid #1149dc;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: 100%;
  top: 20%;
}
a:hover .pleft{
  right: 137%;
  opacity: 1;
}
/* Avatar */
.avatar{
  border-radius: 100%;
  text-align: center;
  border-radius: red;
  width: 38px;
  color: white;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  font-size: 18px;
  margin-right: 10px;
}
.clearfix:before, .clearfix:after{
	display:table;
	content: "";
}
.clearfix:after{
  clear: both;
}
@keyframes opacity {
  0% {
    background: rgba(0, 0, 0, .1);
  }
  100% {
    background: rgba(0, 0, 0, .7);
  }
}
@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  25% {
    transform: rotate3d(1, 0, 0, -10deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 10deg);
  }
  75% {
    transform: rotate3d(1, 0, 0, -10deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0);
  }
}

/* Menu de navegacion modal */

/* Menu de navegacion */
#menu{
  background: rgb(40, 90, 255);
  overflow: hidden;
}
#menu li{
  float: left;
  list-style: none;
}
#menu li a{
  padding: 14px 20px;
  display: block;
  text-decoration: none;
  color: rgba(255,255,255,.6);
}
#menu li.active a{
  background: rgb(40, 90, 100)
}